body {
    background-color: rgb(7, 23, 43);
    font-family: "Besley";
    color: rgb(255, 255, 255);
  }
p {
    font-family: "Besley";
    font-size: 12pt;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: justify;
  }
  
.landingpage {
    position: relative;
    padding-top: 30px;
  }