.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* Create three equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
  }
.fish {
    position: relative;
    width: 45%;
    top: 180px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  body {
    background-color: rgb(138, 177, 224);
    font-family: "Besley";
    color: rgb(255, 255, 255);
  }

  h2 {
    position: relative;
    top: 60px;
    left: 5%;
    font-family: "Besley";
    font-size: 35pt;
    font-weight: 400;
    padding-left: 5%;
  }

  p.description {
    position: absolute;
    font-family: "Besley";
    font-style: italic;
    font-size: 12pt;
    font-weight: 200;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    text-align: justify;
    width: 50%;
    top: 180px;
    padding-left: 5%;
    box-sizing: border-box;
  }

  .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    margin-left: 10%;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .embed {
    top: 30px;
  }

